<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
      <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10 ">
        <h3 class="mb-5 text-3xl ">Create User</h3>
        <form action="/create" method="post">
            <input type="text"  class="px-3 py-2 rounded-md bg-transperent border-2 bg-zinc-800 outline-none" placeholder="username" name="username">
            <input type="email"  class="px-3 py-2 rounded-md bg-transperent border-2 bg-zinc-800 outline-none"placeholder="email" name="email">
            <input type="password" class="px-3 py-2 rounded-md bg-transperent border-2 bg-zinc-800 outline-none" placeholder="password" name="password">
            <input type="number" class="px-3 py-2 rounded-md bg-transperent border-2 bg-zinc-800 outline-none" placeholder="age" name="age">
            <input class="px-4 py-3 rounded-md bg-blue-500 " type="submit" value="Create User">
        </form>
    </div>
    
</body>
</html>